:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.6;
}
.container {
    width: 50%;
    margin: auto ;
    border: 0.1px solid var(--light-gray);
    border-radius: 1em;
    flex-direction: column;
    border-radius: 5px;
}
.pd {
    padding: 2.5em;
}
.big-text {
    font-size: 35px;
    padding-right: 0.25em;
}
header {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.main-heading {
    color: var(--cyan);
    margin-bottom: 1em;
    font-weight: 700;
}
.sub-heading {
    color: var(--bright-yellow);
    font-weight: 700;
    margin-bottom: 0.7em;
}
.sub-info {
    color: var(--grayish-blue);
}
section {
    width: 100%; 
    color: var(--light-gray);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up {
    background-color: var(--cyan);
    flex-basis: 50%;
    border-bottom-left-radius: 5px;
}
.blue-text-color {
    color: hsl(179, 62%, 75%);
}
.sign-up .flex .blue-text-color {
    align-self: center;
    font-size: 12px;
}
.btn {
    background-color: var(--bright-yellow);
    width: 100%;
    margin-top: 2em;
    border: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    color: #fff;
    font-weight: 700;
}
.information {
    background-color: hsl(179, 62%, 50%);
    flex-basis: 50%;
    border-bottom-right-radius: 5px;
}
.information h3 {
    margin-bottom: 0.75em;
}
.information li {
    font-size: 14px;
    color: hsl(179, 62%, 90%);
}
.attribution {
    margin-top: 7em;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media (max-width: 700px)
{
    body {
        height: auto;
    }
    .container {
        width: 90%;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .flex {
        display: block;
    }
    .sign-up {
        border-bottom-left-radius: 0px;
    }
    .information {
        border-bottom-left-radius: 5px;
    }
    .sign-up .flex {
        display: flex;
    }
}